{% extends "base.html.twig" %}

{% block content %}
    <div class="nine columns">
        <h1>Features</h1>
    {#    <p>RoomSketcher provides an online floor plan and home design solution that lets you create floor plans, furnish and decorate them and visualize your design in impressive 3D. The solution is packed with awesome features for both professional and personal users.</p>#}
    {#    <div class="quote">#}
    {#        <p>” It works for everyday people who love pottering about designing their dream home, and for professionals who need a robust program to create 2D and 3D interactive floor plans ”<br>#}
    {#            <span class="blue">Sam Crothers, Houseplanology.com</span>#}
    {#        </p>#}
    {#    </div>#}
        {% for post in category.posts %}
            <div class="row clearfix bordergrey">
                <div class="six columns">
                    <h3>{{ post.title|trim|capitalize }}</h3>
                    <p>{{ post.description }}<br>
                        <br>
                        <a class="next" href="/blog/{{ post.slug }}" aria-current="page">Подробнее</a>
                    </p>
                </div>
                {{ post.createdAt.format('Y-m-d H:i:s') }}
                {{ post.category.title }}
                <div class="six columns">
                    <img src="https://www.roomsketcher.com/wp-content/uploads/2016/12/RoomSketcher-Home-Designer-Floor-Plan-Home-Design-Tool.jpg" alt="RoomSketcher App" width="800" height="600" class="alignnone lp20">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}