{% extends "base.html.twig" %}

{% block content %}
    <div class="nine columns">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d660.2496054926983!2d34.96079495523253!3d48.55242332044635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1582469697998!5m2!1sru!2sua"
                width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>
{% endblock %}