{% extends "base.html.twig" %}

{% block content %}
    <div class="nine columns">
        <h1>Features</h1>

    {#    <p>RoomSketcher provides an online floor plan and home design solution that lets you create floor plans, furnish and decorate them and visualize your design in impressive 3D. The solution is packed with awesome features for both professional and personal users.</p>#}
    {#    <div class="quote">#}
    {#        <p>” It works for everyday people who love pottering about designing their dream home, and for professionals who need a robust program to create 2D and 3D interactive floor plans ”<br>#}
    {#            <span class="blue">Sam Crothers, Houseplanology.com</span>#}
    {#        </p>#}
    {#    </div>#}
        {% for post in posts %}
            <div class="row clearfix bordergrey">
                <div class="six columns">
                    <h3>{{ post.title|trim|capitalize }}</h3>
                    <p>{{ post.description }}<br>
                        <br>
                        <a class="next" href="/blog/{{ post.slug }}" aria-current="page">Подробнее</a>
                    </p>
                </div>
                {{ post.createdAt.format('Y-m-d H:i:s') }}
                {{ post.category.title }}
                <div class="six columns">

                    <figure class="c4-izmir c4-border-cc-3 c4-image-zoom-out c4-gradient-bottom-right" tabindex="0" style="--primary-color: #7303c0; --secondary-color: #00B5CC;">
                        <img src="https://source.unsplash.com/FaPxZ88yZrw/400x300" alt="Sample Image">
                        <figcaption>
                            <div class="c4-rotate-up-right c4-delay-200">
                                <h2>
                                    Endless
                                </h2>
                            </div>
                            <div class="c4-rotate-down-left c4-delay-200">
                                <h2>
                                    Possibilities
                                </h2>
                            </div>
                        </figcaption>
                    </figure>

                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}