{% extends "base.html.twig" %}

{% block content %}
    <div class="nine columns">
        <h1>{{ post.title|e }}  {{ post.visits }}</h1>
        {{ post.createdAt.format('Y-m-d H:i:s') }}
        <div class="quote">
            <p>” It works for everyday people who love pottering about designing their dream home, and for professionals who need a robust program to create 2D and 3D interactive floor plans ”<br>
                <span class="blue">Sam Crothers, Houseplanology.com</span>
            </p>
        </div>
        <div class="content">{{ post.content|e }}</div>
        <hr>
        <a class="previous" href="/" aria-current="page">Назад</a>
    </div>

    {% for comment in post.comments %}
        {{ comment.comment }} <br>
    {% endfor %}
{% endblock %}