@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic);@import url(https://fonts.googleapis.com/css?family=Raleway:600,500,300,200);html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 100%
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px
}

html {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: none;
    height: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video {
    display: block
}

body {
    line-height: 1.6;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    position: relative;
    height: 100%;
    color: #000
}

.left {
    float: left
}

.right {
    float: right
}

.hide {
    display: none
}

hr {
    border: 1px solid #ccc;
    clear: both;
    margin: 16px 0 18px;
    height: 0
}

.border-bottom {
    border-bottom: 1px solid #ccc
}

.border-top {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding-top: 40px
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    display: inline-block
}

.clearfix {
    display: block;
    zoom:1}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin: 0px 0px 20px 0px !important
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

iframe {
    display: inline-block
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-weight: bold;
    line-height: 1.4;
    font-family: 'Raleway',sans-serif !important
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit
}

h1 {
    font-weight: normal;
    font-size: 42px;
    margin-bottom: 16px
}

h2 {
    font-weight: normal;
    font-size: 27px;
    margin-bottom: 10px
}

h3 {
    font-size: 24px;
    margin-bottom: 16px
}

h4 {
    font-size: 18px;
    margin-bottom: 16px
}

h5 {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 3px
}

h6 {
    font-size: 15px;
    font-weight: normal
}

.text-center h3 {
    color: #00B5CC !important
}

.text-center h3:hover {
    color: #000 !important
}

nav#top-menu {
    display: block;
    float: left;
    padding: 32px 10px 0px 0px;
    margin: 0px 0px 0px 40px
}

nav#top-menu ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px
}

nav#top-menu ul li {
    text-align: center;
    display: inline-block;
    margin-left: 30px
}

nav#top-menu ul li:first-child {
    margin-left: 0px
}

nav#top-menu ul li a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px 5px 0px
}

nav#top-menu ul li a:hover {
    color: #00B5CC;
    border-bottom: 2px solid #00B5CC
}

nav#top-menu ul li.current-menu-item a {
    color: #00B5CC;
    border-bottom: 2px solid #00B5CC
}

.alignnone {
    float: none
}

.alignleft {
    float: left
}

.alignright {
    float: right
}

img {
    display: block
}

a img {
    border: 0px
}

p img {
    margin: 0px !important;
    padding: 0px !important
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 27px
}

p img {
    margin: 0
}

a {
    color: #00B5CC;
    text-decoration: none;
    outline: 0;
    line-height: inherit
}

a:hover {
    color: #000
}

p a, p a:visited {
    line-height: inherit
}

em {
    font-style: italic;
    line-height: inherit
}

strong {
    font-weight: bold;
    line-height: inherit
}

small {
    font-size: 56.4%;
    line-height: inherit
}

ul,ol {
    margin-bottom: 18px;
    list-style: none
}

ul {
    list-style: none outside
}

ol {
    list-style: decimal
}

ol,ul.square,ul.circle,ul.disc {
    margin-left: 30px
}

ul.square {
    list-style: square outside
}

ul.circle {
    list-style: circle outside
}

ul.disc {
    list-style: disc outside
}

ul ul, ol ol {
    margin: 4px 0 5px 30px
}

li {
    margin-bottom: 12px
}

ul.large li {
    line-height: 21px
}

.top100 {
    padding-top: 100px
}

.top80 {
    padding-top: 80px
}

.top50 {
    padding-top: 50px
}

.top40 {
    padding-top: 40px
}

.top30 {
    padding-top: 30px
}

.top20 {
    padding-top: 20px !important
}

.top15 {
    padding-top: 15px
}

.top10 {
    padding-top: 10px
}

.bottom10 {
    padding-bottom: 10px
}

.bottom15 {
    padding-bottom: 15px
}

.bottom20 {
    padding-bottom: 20px
}

.bottom30 {
    padding-bottom: 30px !important
}

.mbottom30 {
    margin-bottom: 30px !important
}

.bottom40 {
    padding-bottom: 40px !important
}

.bottom50 {
    padding-bottom: 50px
}

.bottom70 {
    padding-bottom: 70px
}

.left10 {
    padding-left: 10px
}

.left20 {
    padding-left: 20px
}

.left30 {
    margin-left: 20px
}

.left50 {
    padding-left: 50px
}

.right10 {
    padding-right: 10px
}

.rm20 {
    margin-right: 20px
}

.topm20 {
    margin-top: 20px !important
}

.bottomm50 {
    margin-bottom: 50px !important
}

.lp20 {
    padding-left: 20px
}

.mtop50 {
    margin-top: 50px
}

.top0 {
    margin-top: 0px !important;
    padding-top: 0px !important
}

#header {
    padding: 10px 0px 0px 0px
}

.height-head {
    height: 80px
}

.right h1 {
    font-size: 58px;
    font-weight: 600;
    color: #00B5CC
}

#logo a {
    float: left;
    width: 180px;
    height: 70px;
    background: url(/images/logo.svg) no-repeat;
    background-size: contain;
    text-indent: -9999px
}

#help {
    float: left
}

#help a {
    color: #000;
    font-size: 14px;
    border-right: 1px solid #ccc;
    padding-right: 20px
}

.signin a {
    display: block;
    width: 100px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    background: #00B5CC;
    color: #fff;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px
}

.signin a:hover {
    color: #000 !important
}

.signup a {
    display: block;
    width: 100px;
    height: 30px;
    padding-top: 2px;
    margin-left: 10px;
    text-align: center;
    background: #ffc20f;
    color: #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px
}

.signup a:hover {
    color: #fff !important
}

ul#flag {
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 10px
}

ul#flag li {
    float: left;
    margin: 8px 10px 0px 0px
}

ul#flag li.no a {
    background: url(/wp-content/themes/roomsketcher/images/country/no_small_flag.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 11px
}

ul#flag li.se a {
    background: url(/wp-content/themes/roomsketcher/images/country/se_small_flag.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 11px
}

ul#flag li.dk a {
    background: url(/wp-content/themes/roomsketcher/images/country/dk_small_flag.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 11px
}

ul#flag li.de a {
    background: url(/wp-content/themes/roomsketcher/images/country/de_small_flag.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 11px
}

ul#flag li.us a {
    background: url(/wp-content/themes/roomsketcher/images/country/us_small_flag.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 11px
}

ul#flag li.usa a {
    background: url(/wp-content/themes/roomsketcher/images/country/usa_small_flag.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 11px
}

ul#flag li.dk a:hover {
    background: url(/wp-content/themes/roomsketcher/images/country/dk_small_flag.png) no-repeat bottom left
}

ul#flag li.no a:hover {
    background: url(/wp-content/themes/roomsketcher/images/country/no_small_flag.png) no-repeat bottom left
}

ul#flag li.se a:hover {
    background: url(/wp-content/themes/roomsketcher/images/country/se_small_flag.png) no-repeat bottom left
}

ul#flag li.de a:hover {
    background: url(/wp-content/themes/roomsketcher/images/country/de_small_flag.png) no-repeat bottom left
}

ul#flag li.us a:hover {
    background: url(/wp-content/themes/roomsketcher/images/country/us_small_flag.png) no-repeat bottom left
}

ul#flag li.usa a:hover {
    background: url(/wp-content/themes/roomsketcher/images/country/usa_small_flag.png) no-repeat bottom left
}

.border-btn1 {
    float: left
}

.border-btn2 {
    float: right
}

.border-btn a {
    display: block;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #00B5CC
}

#first {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/front_img.png) top left no-repeat;
    height: 520px;
    margin-bottom: 50px
}

.top-wrap {
    display: block;
    width: 100%;
    height: 500px;
    background: url(/wp-content/themes/roomsketcher/images/frontpage/front-header.jpg) no-repeat top center;
    background-size: cover
}

.paralax {
}

.dwn-load {
    display: block;
    width: 415px;
    margin: 0px auto 0px auto
}

.third {
    padding: 30px 10px 30px 10px;
    max-width: 1024px;
    margin: 0px auto !important
}

.third h2 {
    font-size: 32px;
    padding-bottom: 15px;
    text-align: center
}

.third h2 strong {
    color: #000
}

.third p {
    color: #000;
    font-size: 18px;
    padding-bottom: 20px
}

.front-list {
    padding-bottom: 30px
}

.front-list p {
    padding: 0px 0px 0px 0px !important;
    font-size: 15px !important
}

.front-list h3 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px
}

front-block {
    height: 100px
}

.f-one {
    background: url(/wp-content/themes/roomsketcher/images/Icons1.jpg) top left no-repeat;
    padding-left: 90px;
    height: 100px
}

.f-two {
    background: url(/wp-content/themes/roomsketcher/images/Icons2.jpg) top left no-repeat;
    padding-left: 90px;
    height: 100px
}

.f-three {
    background: url(/wp-content/themes/roomsketcher/images/Icons3.jpg) top left no-repeat;
    padding-left: 90px;
    height: 100px
}

.f-four {
    background: url(/wp-content/themes/roomsketcher/images/Icons4.jpg) top left no-repeat;
    padding-left: 90px;
    height: 100px
}

.user-head {
    margin: 0px auto;
    width: 250px;
    font-size: 30px;
    font-weight: 300
}

.homedesign {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/frontpage/homedesign_blue.svg) top no-repeat;
    width: 150px;
    padding-top: 100px;
    margin: 20px auto 0px auto
}

.floorplans {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/frontpage/floorplans_blue.svg) top no-repeat;
    width: 150px;
    padding-top: 100px;
    margin: 20px auto 0px auto
}

.interior {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/frontpage/realestate_blue.svg) top no-repeat;
    width: 150px;
    padding-top: 100px;
    margin: 20px auto 0px auto
}

.homeimprove {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/frontpage/office_blue.svg) top no-repeat;
    width: 150px;
    padding-top: 100px;
    margin: 20px auto 0px auto
}

.homedesign:hover {
    background: url(/wp-content/themes/roomsketcher/images/frontpage/homedesign_yellow.svg) top no-repeat
}

.floorplans:hover {
    background: url(/wp-content/themes/roomsketcher/images/frontpage/floorplans_yellow.svg) top no-repeat
}

.interior:hover {
    background: url(/wp-content/themes/roomsketcher/images/frontpage/realestate_yellow.svg) top no-repeat
}

.homeimprove:hover {
    background: url(/wp-content/themes/roomsketcher/images/frontpage/office_yellow.svg) top no-repeat
}

.text-block {
    display: block;
    min-height: 230px;
    margin-top: 30px
}

.learn {
    color: #00B5CC !important;
    background: url(/wp-content/themes/roomsketcher/images/arrow.png) no-repeat;
    width: 120px;
    height: 23px;
    margin: 0px auto;
    background-position: right
}

#icons {
    text-align: center
}

#icons h2 {
    font-size: 18px;
    padding-bottom: 10px
}

#icons p {
    font-size: 15px
}

#icons a {
    color: #000 !important
}

.fourleft {
    float: left;
    display: block;
    width: 66px
}

.fourright {
    float: left;
    display: block;
    width: 240px;
    padding-left: 20px
}

.fourright p {
    font-size: 15px
}

.signup-btn a {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/signup_btn.png) top left no-repeat;
    height: 54px;
    width: 282px;
    margin: 0px auto;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 12px
}

.signup-btn a:hover {
    color: #00B5CC
}

.signup-btn2 a {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/signup_btn.png) top left no-repeat;
    height: 54px;
    width: 282px;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 12px
}

.signup-btn2 a:hover {
    color: #00B5CC
}

.homedesigner-btn a {
    display: block;
    float: right;
    background: url(/wp-content/themes/roomsketcher/images/signup_btn.png) right no-repeat;
    height: 54px;
    width: 282px;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 12px;
    margin-bottom: 40px
}

.homedesigner-btn a:hover {
    color: #00B5CC
}

.epost {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/contact_icon.png) top left no-repeat;
    height: 27px;
    padding-left: 50px
}

.toptext {
    padding-bottom: 20px
}

.toptext p {
    padding-top: 5px;
    padding-left: 15px
}

span.blue {
    color: #000
}

span.red {
    color: red
}

p.testimonial-text {
    font-size: 18px
}

.italy {
    font-style: italic
}

.buynow-btn a {
    display: block;
    background: #ffc20f;
    height: 54px;
    width: 282px;
    margin: 0px auto;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 12px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px
}

.buynow-btn a:hover {
    color: #00B5CC
}

#page-wrap {
    padding-top: 20px;
    padding-bottom: 50px
}

#page-wrap h1 {
    font-size: 27px;
    margin-bottom: 20px
}

#page-wrap h2 {
    font-size: 22px;
    color: #000
}

#page-wrap h3 {
    font-size: 18px;
    color: #000
}

#page-wrap img {
    padding-bottom: 10px
}

ul.bullet {
    margin-bottom: 20px
}

ul.bullet li {
    display: block;
    margin-left: 20px;
    padding-left: 30px;
    background: url(/wp-content/themes/roomsketcher/images/bullet.png) top left no-repeat;
    line-height: 22px
}

ul li.yellow {
    background: url(/wp-content/uploads/2014/09/bullet.png) top left no-repeat !important
}

.video-btn a {
    display: block;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    background: #00B5CC;
    color: #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin: 0px auto
}

.video-btn a:hover {
    color: #000 !important
}

.pricing-btn a {
    display: block;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    background: #ffc20f;
    color: #000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px
}

.pricing-btn a:hover {
    color: #00B5CC !important
}

.testimonials {
    display: block;
    width: 100%;
    border: 1px dashed #ccc;
    padding: 10px;
    margin-bottom: 20px
}

.testimonials span {
    color: #00B5CC
}

.f-left {
    display: block;
    float: left;
    width: 40.106951871657753%;
    margin-right: 2.6737967914438502%
}

.f-right {
    display: block;
    float: left;
    width: 57.21925133689839%
}

.imgrow {
    display: block;
    float: left;
    width: 31.55080213903743%;
    padding-top: 20px
}

.right20 {
    margin-right: 2.6737967914438502%
}

.quote {
    display: block;
    width: 100%;
    height: auto;
    border: 1px dashed #ccc;
    background: url(/images/pencil.png) top left no-repeat;
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px
}

.quote p {
    padding-left: 40px;
    padding-top: 5px;
    font-style: italic;
    margin-bottom: 0px;
    padding-bottom: 10px;
    word-wrap: break-word
}

.asid {
    display: block;
    width: 100%;
    min-height: 107px;
    border: 1px dashed #ccc;
    background: url(/wp-content/themes/roomsketcher/images/asid.png) top left no-repeat;
    padding: 10px 20px 0px 20px;
    margin: 30px 10px 10px 0px
}

.asid p {
    padding-left: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-style: italic
}

.naea {
    display: block;
    width: 100%;
    min-height: 107px;
    border: 1px dashed #ccc;
    background: url(/wp-content/themes/roomsketcher/images/naea.png) top left no-repeat;
    padding: 15px 20px 0px 20px;
    margin: 20px 10px 40px 0px
}

.naea p {
    padding-left: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-style: italic
}

.gul-btn {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    background: #ffc20f;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px
}

a .gul-btn {
    color: #000 !important
}

a:hover .gul-btn {
    color: #00B5CC !important
}

.gul-btn2 a {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    background: #ffc20f;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 40px;
    color: #000 !important
}

.gul-btn2 a:hover {
    color: #00B5CC !important
}

.products {
    background: #fff
}

.product-column {
    float: left;
    display: block;
    width: 31.55080213903743%
}

.product-margin {
    margin-right: 2.6737967914438502%
}

.teamwrap {
    padding-bottom: 40px
}

.teamblock {
    display: block;
    float: left;
    width: 47.058823529411764%;
    border: 1px solid #ccc;
    min-height: 650px
}

.teamrm {
    margin-right: 5.3475935828877004%
}

.lr15 {
    padding: 0px 15px 0px 15px
}

.teamblock img {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important
}

.small {
    font-size: 14px;
    color: #666
}

.name {
    font-size: 22px;
    font-family: 'Raleway',sans-serif
}

.homedesigner-wrap {
    border: 1px solid #ccc;
    height: 320px
}

#homedesigner h1 {
    font-size: 36px;
    margin-bottom: 100px
}

#fbrow h2 {
    font-size: 22px
}

.height2 {
    height: 260px
}

.homedesigner {
    padding-top: 150px
}

.homedesigner h1 {
    font-size: 46px;
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
    text-shadow: 1px 1px #333
}

.pad10 {
    padding: 10px 10px 20px 10px
}

.homedesigner-btn2 a {
    display: block;
    background: #ffc20f;
    height: 54px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 12px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px
}

.homedesigner-btn2 a:hover {
    color: #00B5CC
}

.twocols {
    display: block;
    float: left;
    width: 48.663101604278075%
}

.r20 {
    margin-right: 2.6737967914438502%
}

.interior2 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/interiordesign_icon.png) top left no-repeat;
    padding-left: 170px;
    min-height: 110px
}

.floorplans2 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/floorplans_icon.png) top left no-repeat;
    padding-left: 170px
}

.homebuilder2 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/homebuilder_icon.png) top left no-repeat;
    padding-left: 170px
}

.homeimprove2 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/homeimprove_icon.png) top left no-repeat;
    padding-left: 170px;
    min-height: 110px
}

.floorplans2:hover {
    background: url(/wp-content/themes/roomsketcher/images/floorplans_icon_hover.png) top left no-repeat
}

.interior2:hover {
    background: url(/wp-content/themes/roomsketcher/images/interiordesign_icon_hover.png) top left no-repeat
}

.homebuilder2:hover {
    background: url(/wp-content/themes/roomsketcher/images/homebuilder_hover_icon.png) top left no-repeat
}

.homeimprove2:hover {
    background: url(/wp-content/themes/roomsketcher/images/homeimprove_icon_hover.png) top left no-repeat
}

.black {
    color: #000 !important;
    margin-bottom: 10px !important
}

.business h3 {
    margin-bottom: 5px
}

table.pricing {
    margin: 0px 0px 30px 0px;
    padding: 0px
}

table.pricing tr {
    height: 20px
}

table.pricing tr td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 0px;
    vertical-align: top
}

.pricecol {
    float: left;
    width: 48.046875%
}

.r40 {
    margin-right: 3.90625%
}

.price-btn a {
    display: block;
    width: 180px;
    background: #ffc20f;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 10px auto 10px auto;
    color: #000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    text-align: center
}

.price-btn a:hover {
    color: #00B5CC
}

.webinars-btn a {
    display: block;
    width: 180px;
    background: #ffc20f;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    color: #000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    text-align: center
}

.webinars-btn a:hover {
    color: #00B5CC
}

.rs-start-planner-btn a {
    display: block;
    width: 225px;
    background: #ffc20f;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    text-align: center
}

.rs-start-planner-btn a:hover {
    color: #00B5CC
}

table tr td.border-no {
    border-bottom: 0px !important;
    padding-top: 10px
}

.tabs {
    width: 100%;
    display: inline-block
}

.tab-links:after {
    display: block;
    clear: both;
    content: ''
}

ul.tab-links {
    width: 100%;
    list-style: none
}

ul.tab-links li {
    float: left;
    width: 33%;
    text-align: center
}

ul.tab-links li a {
    display: block;
    color: #fff;
    font-size: 15px;
    padding: 17px 0px 15px 0px;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #ccc;
    background: #00B5CC
}

ul.tab-links li a:hover {
    background: #ffc20f;
    text-decoration: none
}

ul.tab-links li:last-child a {
    margin-right: 0px
}

ul.tab-links li.active a, li.active a:hover {
    background: #ffc20f;
    color: #4c4c4c
}

.tab-content {
}

.tab {
    display: none
}

.tab.active {
    display: block
}

.gallery-wrap {
    border: 1px solid #ccc
}

.gallery-text {
    padding: 0px 10px 10px 10px
}

.gallery-wrap h3 {
    color: #00B5CC !important
}

.gallery-wrap h2 {
    color: #00B5CC !important;
    text-align: center;
    font-size: 14px !important
}

.gallery-wrap img {
    margin: 0px !important;
    padding: 0px !important
}

.img-wrap {
    margin: 20px 20px 20px 20px !important
}

.morelink {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/yellow_arrow.png) top left no-repeat;
    padding-left: 35px;
    height: auto
}

.gallery-btn a {
    display: block;
    color: #000;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    background: #ffc20f;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin-top: 20px
}

.gallery-btn a:hover {
    color: #00B5CC !important
}

.privacy {
    width: 90%;
    margin: 20px auto;
    background: #fff
}

h2.pagetitle {
    font-size: 20px
}

.image-wrap {
    margin: 0px auto !important;
    padding-top: 30px;
    padding-bottom: 0px
}

ul.linklist {
    width: 230px;
    margin: 0px auto
}

ul.linklist li a {
    color: #000
}

.share-wrap {
    display: block;
    width: 150px;
    margin: 0px auto 50px auto
}

ul#share {
    list-style: none
}

ul#share li {
    float: left;
    margin-left: 10px
}

ul#share li:first-child {
    margin-left: 0px
}

ul#share li.pinterest a {
    display: block;
    width: 28px;
    height: 28px;
    background: url(/wp-content/themes/roomsketcher/images/icons/pinterest.png) top left no-repeat;
    background-size: contain
}

ul#share li.facebook a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/wp-content/themes/roomsketcher/images/icons/facebook.png) top left no-repeat;
    background-size: contain
}

ul#share li.twitter a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/wp-content/themes/roomsketcher/images/icons/twitter.png) top left no-repeat;
    background-size: contain
}

ul#share li.google a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/wp-content/themes/roomsketcher/images/icons/google.png) top left no-repeat;
    background-size: contain
}

ul#share li.email a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/wp-content/themes/roomsketcher/images/email.png) top left no-repeat;
    background-size: contain
}

.topborder {
    border-top: 1px solid #ccc;
    padding-top: 30px
}

#sidebar {
    padding-top: 5px
}

ul#sidebar-menu {
    list-style: none;
    margin-left: 0px;
    border: 1px solid #ccc;
    width: 93%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}


ul#sidebar-menu li {
    margin-bottom: 7px
}

ul#sidebar-menu li a {
    display: block
}

ul#sidebar-menu li a:hover {
    color: #000 !important
}

ul#sidebar-menu li.current_page_item a {
    color: #fff;
    background: url(/images/listbg.png) top left no-repeat;
    width: 196px;
    height: 43px;
    padding-left: 10px;
    padding-top: 8px
}

ul#sidebar-menu li.current_page_item a:hover {
    color: #fff !important
}

.stick {
    position: fixed;
    top: 0px
}

#footer {
    background: #f1f1f1;
    padding-top: 10px;
    text-align: center
}

#footer p {
    font-size: 13px
}

#footerblock {
    border-top: 1px solid #ccc;
    margin-top: 0px
}

#footerblock h3 {
    font-size: 14px;
    text-transform: uppercase
}

#footerblock ul {
    margin: 0px;
    padding: 0px
}

#footerblock ul li {
    margin-bottom: 10px
}

#footerblock ul li a {
    font-size: 14px;
    color: #000
}

#footerblock ul li a:hover {
    color: #00B5CC
}

ul.height50 {
    height: 50px
}

ul.height30 {
    height: 30px
}

ul.socials {
    width: 300px;
    margin: 0px auto;
    padding: 0px 0px 20px 0px
}

ul.socials li a {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    margin: 0px 0px 0px 15px;
    padding: 0px
}

ul.socials li:first-child a {
    margin-left: 0px
}

.newsletter {
    padding-bottom: 20px
}

form {
    margin: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 50px
}

form input.email {
    float: left;
    width: 67%;
    height: 30px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    text-align: center;
    font-size: 12px;
    color: #999;
    font-style: italic;
    margin-right: 5px
}

form input.submit_btn {
    float: left;
    width: 30%;
    height: 30px;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #00B5CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}

input,textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

#container {
    padding: 0px 0px 0px 0px;
    max-width: 1024px;
    margin: 0px auto !important;
    position: relative;
    top: 0px
}

.row {
    width: 100%;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px
}

.row .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0
}

.column,.columns {
    margin-left: 2.12766%;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.column:first-child,.columns:first-child,.alpha {
    margin-left: 0
}

.column.omega,.columns.omega {
    float: right
}

.row .one.columns {
    width: 6.38298%
}

.row .two.columns {
    width: 14.89362%
}

.row .three.columns {
    width: 23.40426%
}

.row .four.columns {
    width: 31.91489%
}

.row .five.columns {
    width: 40.42553%
}

.row .six.columns {
    width: 48.93617%
}

.row .seven.columns {
    width: 57.44681%
}

.row .eight.columns {
    width: 65.95745%
}

.row .nine.columns {
    width: 74.46809%
}

.row .ten.columns {
    width: 82.97872%
}

.row .eleven.columns {
    width: 91.48936%
}

.row .twelve.columns {
    width: 100%
}

img,_object,embed {
    max-width: 100%;
    height: auto
}

#map_canvas img, .map_canvas img {
    max-width: none!important
}

.f1 {
    width: 6.382978723404255%
}

.f2 {
    width: 18.27659574468085%
}

form.wpcf7-form {
    margin-top: 0px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important
}

form.wpcf7-form input {
    background: #fff;
    padding: 15px 10px 15px 10px;
    border: 1px solid #B1B1B1;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
    color: #575756
}

form.wpcf7-form textarea {
    padding: 15px 10px 15px 10px;
    margin-bottom: 0px;
    border: 1px solid #B1B1B1;
    color: #666;
    font-size: 13px;
    width: 100%;
    height: 100px;
    resize: none;
    font-family: "pt-sans",sans-serif;
    font-style: normal
}

form.wpcf7-form input.wpcf7-submit {
    display: block;
    border: 0px;
    width: 250px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    background: #ffc20f;
    margin: 0px !important;
    color: #000 !important;
    text-transform: uppercase;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px
}

input {
    border-radius: 0
}

textarea {
    -webkit-appearance: none;
    border-radius: 0
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none
}

.mobile-menu {
    display: none
}

.site-hide {
    display: none
}

#new-section2 {
    display: block;
    padding-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-top: 40px;
    border-bottom: 1px solid #ccc
}

.new-section {
    display: block;
    padding-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-top: 40px;
    border-bottom: 1px solid #ccc
}

.floorplans-img {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/roomsketcher-floorplans.jpg) top no-repeat;
    padding-top: 210px
}

.mac-img {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/roomsketcher-mac.jpg) top no-repeat;
    padding-top: 210px
}

.tablet-img {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/roomsketcher-tablet.jpg) top no-repeat;
    padding-top: 210px
}

.tablet-img:hover {
    background: url(/wp-content/themes/roomsketcher/images/roomsketcher-tablet-hover.jpg) top no-repeat
}

.mac-img:hover {
    background: url(/wp-content/themes/roomsketcher/images/roomsketcher-mac-hover.jpg) top no-repeat
}

.floorplans-img:hover {
    background: url(/wp-content/themes/roomsketcher/images/roomsketcher-floorplans-hover.jpg) top no-repeat
}

ul.check {
    height: 160px
}

ul.check li {
    display: block;
    padding-left: 30px;
    background: url(/wp-content/themes/roomsketcher/images/bullet.png) top left no-repeat;
    line-height: 22px
}

a.getstarted {
    display: block;
    width: 282px;
    height: 50px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background: #ffc20f;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
    color: #000 !important;
    text-transform: uppercase
}

a.getstarted:hover {
    color: #00B5CC !important
}

.num1 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/num1.png) top left no-repeat;
    padding-left: 70px;
    margin: 20px 0px 20px 0px
}

.num2 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/num2.png) top left no-repeat;
    padding-left: 70px;
    margin: 20px 0px 20px 0px
}

.num3 {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/num3.png) top left no-repeat;
    padding-left: 70px;
    margin: 20px 0px 20px 0px
}

.checkmark {
    display: block;
    padding-left: 30px;
    background: url(/wp-content/themes/roomsketcher/images/bullet.png) top left no-repeat;
    margin-bottom: 20px
}

.blueprint-tbl {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.blueprint-tbl tr td {
    width: 50%;
    padding: 0px 8px 0px 8px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    vertical-align: middle
}

.blueprint-tbl tr td img {
    padding-top: 8px
}

.blueprint-tbl tr:first-child {
    border-top: 0px
}

.blueprint-tbl tr.head td {
    background: #ffc20f;
    text-align: center;
    padding: 8px 8px 8px 8px
}

.blue-bottom20 {
    padding-bottom: 20px
}

.price-block {
    display: block;
    background: #f1f1f1;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border: 1px solid #ccc
}

.price-content {
    display: block;
    height: 180px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

p.pris {
    font-size: 27px;
    font-weight: 400;
    margin-top: 20px
}

.price-content p {
    margin-bottom: 15px
}

.features {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px
}

.customers img {
    display: block;
    border: 1px solid #f1f1f1;
    padding: 3px 3px 3px 3px !important;
    margin: 0px 0px 15px 0px !important
}

#twitter {
    display: block;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-size: 14px
}

.tweetimg {
    display: block;
    float: left;
    width: 10%;
    margin-right: 5%
}

.tweettext {
    display: block;
    float: left;
    width: 85%
}

.name {
    font-size: 14px;
    color: #333
}

.bordergrey {
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px
}

.contact-wrap {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    margin-bottom: 50px
}

table.details {
    margin-bottom: 10px
}

table.details tr td {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px
}

table.details tr td:first-child {
    text-align: left
}

.camera {
    display: block;
    background: url(/wp-content/uploads/2015/12/camera_blue.png) top left no-repeat;
    padding-left: 170px;
    min-height: 110px
}

.camera:hover {
    background: url(/wp-content/uploads/2015/12/camera_yellow.png) top left no-repeat
}

.left-block {
    display: block;
    float: left;
    width: 48%;
    margin-left: 4%
}

.left-block:first-child {
    margin-left: 0
}

.left-block h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600 !important
}

.center-btn a {
    display: block;
    background: #ffc20f;
    height: 54px;
    width: 282px;
    margin: 0px auto;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 17px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px
}

.center-btn a:hover {
    color: #00B5CC
}

.homedesigner-2 {
    padding-top: 20px
}

.homedesigner-2 h1 {
    color: #00B5CC;
    font-size: 36px
}

.app-btn {
    float: left
}

.app-btn a {
    display: block;
    padding: 7px 10px 7px 10px;
    color: #fff;
    margin-right: 15px;
    margin-bottom: 10px;
    background: #00B5CC;
    text-align: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px
}

.login-head {
    float: left;
    padding-top: 8px
}

#flag-site {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px
}

ul.flags {
    width: 316px;
    margin: 0px auto
}

ul.flags li {
    display: block;
    float: left;
    margin-left: 20px;
    width: 36px;
    height: 28px
}

ul.flags li:first-child {
    margin-left: 0px
}

ul li.facebook-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_facebook.svg) no-repeat;
    background-size: contain
}

ul li.twitter-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_twitter.svg) no-repeat;
    background-size: contain
}

ul li.youtube-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_youtube.svg) no-repeat;
    background-size: contain
}

ul li.linkedin-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_linkedin.svg) no-repeat;
    background-size: contain
}

ul li.instagram-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_instagram.svg) no-repeat;
    background-size: contain
}

ul li.pinterest-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_pinterest.svg) no-repeat;
    background-size: contain
}

ul li.gplus-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_gplus.svg) no-repeat;
    background-size: contain
}

ul li.houzz-svg a {
    background: url(/wp-content/themes/roomsketcher/images/svg/ic_circle_houzz.svg) no-repeat;
    background-size: contain
}

ul.breadcrumb {
    margin-top: -20px;
    padding: 10px 10px 10px 0px;
    list-style: none
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px
}

ul.breadcrumb li+li:before {
    padding: 0px;
    color: black;
    content: ">"
}

ul.breadcrumb li a {
    color: #00B5CC;
    text-decoration: none;
    font-size: 15px
}

ul.breadcrumb li a:hover {
    color: #000;
    text-decoration: underline
}

.artikkel-left {
    display: block;
    float: left;
    width: 40%;
    margin-right: 5%
}

.artikkel-right {
    display: block;
    float: left;
    width: 55%
}

.article-list {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px
}

.article-list a {
    color: #333
}

.article-list h2 {
    font-size: 20px;
    font-weight: 600
}

.article-list a p.lesmer {
    color: #00B5CC
}

.greysep {
    border-right: 1px solid #ccc;
    padding-right: 40px
}

.widget-2 {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 9px
}

.widget-2 ul li a {
    color: #000
}

.widget-2 ul li a:hover {
    color: #00B5CC
}

#usefor h2 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 7px;
    width: 90%
}

#usefor ul li a {
    font-size: 15px;
    color: #000
}

#usefor ul li a:hover {
    color: #00B5CC
}

#download {
    text-align: center
}

#download p img {
    margin: 0px auto !important
}

.btns {
    display: block;
    margin: 0px auto;
    width: 290px
}

.btn-1 {
    display: block;
    margin: 0px auto;
    width: 135px
}

.grey-line {
    display: block;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    margin-top: 40px
}

.services-bg {
    display: block;
    width: 100%;
    height: 500px;
    background: url(/wp-content/themes/roomsketcher/images/services-bg.jpg) no-repeat top center;
    background-size: cover;
    margin-bottom: 40px;
    color: #fff
}

.services-bg h1 {
    padding-top: 50px;
    color: #fff
}

.services-bg h2 {
    color: #fff
}

.services-bg p {
    color: #fff
}

.services-wrap {
    display: block;
    height: 400px;
    border: 1px solid #ccc;
    padding: 20px 20px 0px 20px;
    text-align: center
}

.services-title h2 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px
}

.services-wrap2 {
    display: block;
    height: 390px;
    border: 1px solid #ccc;
    padding: 20px 20px 0px 20px;
    text-align: center
}

.services-wrap h2, .services-wrap2 h2 {
    font-size: 16px;
    font-weight: bold
}

.services-wrap p {
    text-align: left
}

.services-wrap p.top-stroke {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center
}

.services-wrap img {
    margin: 0px auto 15px auto
}

.floorplan-gallery {
    display: block;
    width: 100%;
    background: #f1f1f1;
    margin-top: -20px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px
}

.floorplan-gallery h1 {
    padding-top: 50px
}

.floorplan-gallery img {
    display: block;
    padding-right: 50px;
    margin: 0px auto
}

.widget-2 img {
    margin: 0px auto 20px auto
}

.widget-2 h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px
}

.widget-2 ul li {
    margin-bottom: 5px
}

#post-single h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px
}

.post-thumb img {
    margin-bottom: 15px
}

.office-first {
    margin-right: 10px
}

.office-last {
    margin-left: 10px
}

.office-first p {
    margin-bottom: 10px
}

.office-last p {
    margin-bottom: 10px
}

a .office-first {
    color: #000
}

a .office-last {
    color: #000
}

.box-border {
    border: 1px solid #ccc
}

.box-border {
    padding-bottom: 15px !important
}

.grey-bg {
    display: block;
    margin-top: 30px;
    background: #f1f1f1;
    padding: 40px 20px 40px 20px;
    text-align: center
}

.related {
    border: 1px solid #ccc;
    margin-bottom: 50px
}

.related img {
    margin-top: -25px !important
}

#author {
    color: #666
}

.related h2 {
    font-size: 16px !important;
    text-align: center;
    margin-top: -20px
}

.share-wrap {
    display: block;
    width: 100%;
    margin-top: 30px
}

ul.share {
    width: 165px;
    margin: 0px auto;
    padding: 0px 0px 0px 0px
}

ul.share li a {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    margin: 0px 0px 0px 15px;
    padding: 0px
}

ul.share li a img {
    margin-top: 0px !important
}

ul.share li:first-child a {
    margin-left: 0px
}

.homedesigner-bg {
    display: block;
    background: url(/wp-content/themes/roomsketcher/images/frontpage/front-header.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 520px;
    padding-top: 100px
}

.hide {
    display: none
}

.gallery-breadcrumb {
    display: block;
    width: 100%;
    background: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 35px
}

.boks {
    display: block;
    margin-top: 30px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px 30px 30px 30px
}

.boks h3 {
    font-weight: normal
}

.boks-btn a {
    display: block;
    width: 150px;
    text-align: center;
    margin: 30px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 17px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px
}

a.blue {
    background: #00B5CC;
    color: #fff
}

.highvolume {
    width: 435px;
    margin: 0px auto 40px auto
}

.boks {
    display: block;
    margin-top: 30px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px 30px 30px 30px
}

.boks h3 {
    font-weight: normal
}

.boks-btn a {
    display: block;
    width: 150px;
    text-align: center;
    margin: 30px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 17px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px
}

a.blue {
    background: #00B5CC;
    color: #fff
}

.yellow {
    background: #fcc12f;
    color: #000
}

.getstarted-btn a {
    display: block;
    float: right;
    background: #ffc20f;
    height: 50px;
    width: 280px;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px
}

.getstarted-btn a:hover {
    color: #00B5CC
}

a.readmore-block {
    display: block;
    background: #f2f2f2;
    color: #000;
    border-left: 5px solid #000;
    padding: 10px 20px 10px 30px
}

p.readmore-head {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 0px
}

@media screen and (max-width: 980px) {
    ul#sidebar-menu li.current_page_item a {
        background:#00B5CC;
        width: 96%;
        height: auto;
        padding-bottom: 10px
    }

    ul.socials li {
        width: auto;
        margin-left: 5px
    }

    ul.socials li:first-child {
        margin-left: 0px
    }

    .ipad-bottom30 {
        margin-bottom: 30px
    }

    .fourleft {
        float: none;
        width: auto;
        margin-bottom: 10px
    }

    .fourleft img {
        margin: 0px auto
    }

    .height2 {
        height: 350px
    }

    .tablet-hide {
        display: none
    }
}

@media screen and (max-width: 767px) {
    body {
        -webkit-text-size-adjust:none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }

    body,p {
        font-size: 15px
    }

    ul.check {
        height: auto
    }

    .new-block {
        margin-bottom: 30px
    }

    #top-menu {
        display: none
    }

    #first {
        background: none;
        height: 470px
    }

    .row {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left
    }

    .column,.columns {
        width: auto !important;
        float: none;
        margin-left: 0;
        margin-right: 0
    }

    ul.socials li a {
        width: 10px !important
    }

    .fourleft {
        float: left;
        display: block;
        width: 66px
    }

    .fourright {
        float: left;
        display: block;
        width: 240px;
        padding-left: 20px
    }

    .mobile-menu {
        display: block;
        float: right
    }

    a.menu-mobile {
        display: block;
        background: url(/wp-content/themes/roomsketcher/images/menu-icon.png) top right no-repeat;
        height: 23px;
        width: 35px;
        padding: 0px 0px 0px 0px;
        margin-top: 20px;
        color: #333
    }

    a.collapsed {
        display: block;
        background: url(/wp-content/uploads/2015/12/close-icon.png) top right no-repeat;
        height: 23px;
        width: 35px;
        padding: 0px 0px 0px 0px;
        margin-top: 20px;
        color: #333
    }

    .toggle4 {
        display: none;
        width: 100%;
        padding: 5px 0px 0px 0px;
        margin-top: 0px;
        text-align: left
    }

    ul.nav-mobil {
        width: 100%;
        background: #fff;
        list-style: none;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px
    }

    ul.nav-mobil li {
        margin: 0px 0px 0px 0px;
        padding: 0px !important;
        font-size: 18px;
        border-bottom: 1px solid #f1f1f1
    }

    ul.nav-mobil li a {
        display: block;
        padding: 7px 0px 9px 20px;
        color: #000
    }

    ul.sub {
        background: #f1f1f1 !important
    }

    ul.sub li {
        border-bottom: 1px solid #fff !important
    }

    ul.sub li a {
        color: #000 !important
    }

    .heading {
        font-size: 20px;
        font-weight: 600;
        padding: 14px 0px 0px 20px
    }

    .heading a {
        color: #000
    }

    .header-mobile {
        height: 70px;
        border-bottom: 1px solid #ccc
    }

    .mobile-hide {
        display: none
    }

    #page-wrap h1 {
        font-size: 20px
    }

    #page-wrap h2 {
        font-size: 20px
    }

    .text-right {
        text-align: center
    }

    .btn-center {
        margin: 0px auto
    }

    .front-list {
        background: none;
        padding-left: 0px
    }

    .border-top {
        border-top: 1px solid #ccc;
        padding-top: 10px
    }

    .site-hide {
        display: block
    }

    .fourleft {
        float: left;
        display: block;
        padding-right: 20px;
        min-height: 50px
    }

    .fourright {
        float: none;
        display: block;
        width: 100%;
        min-height: 50px
    }

    .quote {
        height: auto !important
    }

    .buynow-btn {
        margin-bottom: 30px
    }

    .signup-btn {
        margin-bottom: 30px
    }

    .homedesigner h1 {
        font-size: 32px
    }

    #third h2 {
        font-size: 24px;
        padding-top: 20px
    }

    .user-head {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .text-block {
        min-height: 100px
    }

    .homedesign {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px
    }

    .floorplans {
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
        padding-bottom: 20px
    }

    .interior {
        border-bottom: 1px solid #ccc;
        margin-top: 20px;
        padding-bottom: 20px
    }

    .f-left {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px
    }

    .f-right {
        float: none;
        width: 100%
    }

    .imgrow {
        float: none;
        width: 100%
    }

    .front-block {
        height: auto
    }

    .product-column {
        float: none;
        width: 100%
    }

    .product-margin {
        margin-right: 0
    }

    .teamwrap {
        padding-bottom: 20px
    }

    .teamblock {
        float: none;
        width: 100%
    }

    .teamrm {
        margin-right: 0px;
        margin-bottom: 20px
    }

    .twocols {
        float: none;
        width: 100%
    }

    .r20 {
        margin-right: 0
    }

    .price-btn a {
        float: none;
        margin: 0px auto 30px auto
    }

    .pricecol {
        float: none;
        width: 100%
    }

    .r40 {
        margin-right: 0
    }

    .interior2 {
        background: none;
        padding-left: 0px;
        padding-top: 0px;
        min-height: auto
    }

    .floorplans2 {
        background: none;
        padding-left: 0px;
        padding-top: 0px;
        min-height: auto
    }

    .homebuilder2 {
        background: none;
        padding-left: 0px;
        padding-top: 0px;
        min-height: auto
    }

    .homeimprove2 {
        background: none;
        padding-left: 0px;
        padding-top: 0px;
        min-height: auto
    }

    .camera {
        background: none;
        padding-left: 0px;
        padding-top: 0px;
        min-height: auto
    }

    .camera:hover {
        background: none
    }

    .interior2:hover {
        background: none
    }

    .floorplans2:hover {
        background: none
    }

    .homebuilder2:hover {
        background: none
    }

    .homeimprove2:hover {
        background: none
    }

    ul#sidebar-menu li.current_page_item a {
        color: #fff;
        background: url(/images/listbg.png) top left no-repeat;
        width: 196px;
        height: 43px;
        padding-left: 10px;
        padding-top: 8px
    }

    .mobile-hide {
        display: none
    }

    #footer {
        margin-top: 0px !important;
        text-align: left;
        background: #fff
    }

    ul.footer-menu {
        border-top: 1px solid #ccc;
        padding-top: 20px
    }

    ul.footer-menu li {
        text-align: center;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -khtml-border-radius: 7px;
        border-radius: 7px
    }

    ul.footer-menu li a {
        display: block;
        width: 100%;
        color: #000;
        padding: 5px 0px 5px 0px
    }

    ul.socials-mobile li a {
        display: block;
        float: left;
        width: 25%
    }

    ul.socials-mobile li a img {
        margin: 0px auto;
        width: 50%
    }

    #footerblock {
        margin-top: 25px
    }

    ul#flag-mobile {
        width: 100%;
        border-top: 1px solid #ccc;
        padding-top: 20px
    }

    ul#flag-mobile li {
        display: inline-block;
        width: 15.81%
    }

    ul#flag-mobile li a img {
        margin: 0px auto;
        width: 70%
    }

    .top100 {
        padding-top: 50px
    }

    .top30 {
        padding-top: 10px
    }

    .top20 {
        padding-top: 10px
    }

    .bottom30 {
        padding-bottom: 0px
    }

    .bottom50 {
        padding-bottom: 30px
    }

    .columns {
        padding-bottom: 0px
    }

    .homedesigner {
        padding-bottom: 30px
    }

    #page-wrap {
        padding-bottom: 0px
    }

    .mp-20 {
        padding-bottom: 20px
    }

    #footerblock ul li a {
        font-size: 16px
    }

    .homedesigner-wrap {
        height: 300px
    }

    .height2 {
        height: 200px
    }
}

@media screen and (max-width: 480px) {
    .height2 {
        height:270px
    }

    a.getstarted {
        margin: 30px auto 0px auto
    }

    .homedesigner-wrap {
        height: auto;
        padding-bottom: 30px
    }

    img.lp20 {
        padding-left: 0px
    }

    .left-block {
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 30px
    }

    .left-block:first-child {
        margin-top: 0px
    }

    #top-menu {
        display: none !important
    }

    .border-btn1 {
        float: none;
        margin-bottom: 20px
    }

    .border-btn2 {
        float: none;
        margin-bottom: 20px
    }

    .border-btn a {
        margin: 0px auto
    }
}

.previous {
    text-align: center;
    display: block;
    color: #fff;
    background: url(/images/listbl.png) top left no-repeat;
    width: 196px;
    height: 43px;
    padding-left: 10px;
    padding-top: 8px
}

.previous:hover {
    color: #fff;
}

.next {
    text-align: center;
    display: block;
    color: #fff;
    background: url(/images/listbg.png) top left no-repeat;
    width: 196px;
    height: 43px;
    padding-left: 10px;
    padding-top: 8px
}

.next:hover {
    color: #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show{display: block;}
.hide{display: none;}

.panel-title{
    cursor: pointer !important;
}
.cursor{
    cursor: pointer;
    margin-left: 300px;
    }


 h4:hover{
    background-color:royalblue;
}
h4 {
    text-align: center;
}


