<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html.twig' %}
    </head>
{#    <body data-simplebar>#}
    <body>
        {% include 'header.html.twig' %}

        {% include 'header-mobile.html.twig' %}

        <div id="page-wrap">
            <div class="row clearfix"><!-- Start content -->
                {% include 'sidebar-menu.html.twig' %}

                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'footer.html.twig' %}

        {% include 'footer-mobile.html.twig' %}

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>

        <!-- Initialize material-scrolltop (minimal) -->
        <script>
            $('body').materialScrollTop();
        </script>
    </body>
</html>