<div id="footerblock" class="row clearfix top20 bottom20 site-hide border-bottom"><!-- Start footer -->
    <div class="f2 columns top20">
        <h3>Floor Plans</h3>
        <ul>
            <li><a href="https://www.roomsketcher.com/floor-plans/floor-plan-software/" title="Floor Plan Software">Floor Plan Software</a></li>
            <li><a href="https://www.roomsketcher.com/real-estate/" title="Real Estate Floor Plans">Real Estate Floor Plans</a></li>
            <li><a href="https://www.roomsketcher.com/real-estate/real-estate-photography/" title="Real Estate Photography">Real Estate Photography</a></li>
            <li><a href="https://www.roomsketcher.com/site-plans/" title="Site Plans">Site Plans</a></li>
            <li><a href="https://www.roomsketcher.com/floor-plan-gallery/" title="Floor Plan Gallery">Floor Plan Gallery</a></li>
        </ul>
    </div>

    <div class="f2 columns top20">
        <h3>Home</h3>
        <ul>
            <!--<li><a href="https://help.roomsketcher.com/" title="Help & Videos" target="_blank">Help & Videos</a></li>-->
            <li><a href="https://www.roomsketcher.com/home-design/" title="Home Design">Home Design</a></li>
            <li><a href="https://www.roomsketcher.com/home-improvement/" title="Home Improvement">Home Improvement</a></li>
            <li><a href="https://www.roomsketcher.com/interior-design/" title="Interior Design">Interior Design</a></li>
            <li><a href="https://www.roomsketcher.com/home-design/kitchen-ideas/" title="Kitchen Ideas">Kitchen Ideas</a></li>
            <li><a href="https://www.roomsketcher.com/home-design/bathroom-ideas/" title="Bathroom Ideas">Bathroom Ideas</a></li>
            <li><a href="https://gallery.roomsketcher.com/home-design/?l=en" title="Home Design Gallery">Home Design Gallery</a></li>
        </ul>
    </div>

    <div class="f2 columns top20">
        <h3>Office</h3>
        <ul>
            <li><a href="https://www.roomsketcher.com/office-design/" title="Office Design">Office Design</a></li>
            <li><a href="https://www.roomsketcher.com/office-design/office-design-software/" title="Office Design Software">Office Design Software</a></li>
            <li><a href="https://www.roomsketcher.com/office-design/office-planning/" title="Office Planning">Office Planning</a></li>
            <li><a href="https://www.roomsketcher.com/office-design/office-layout/" title="Office Layout">Office Layout</a></li>
            <li><a href="https://www.roomsketcher.com/office-design/office-ideas/" title="Office Ideas">Office Ideas</a></li>
            <!--<li><a href="https://www.roomsketcher.com/products/vip/" title="VIP Subscription">VIP Subscription</a></li>-->
            <!--<li><a href="https://www.roomsketcher.com/products/pro/" title="Pro Subscription">Pro Subscription</a></li>-->
            <li><a href="https://www.roomsketcher.com/office-design/office-floor-plans/" title="Office Floor Plans">Office Floor Plans</a></li>
        </ul>
    </div>

    <div class="f2 columns top20">
        <h3>Products</h3>
        <ul>
            <li><a href="https://www.roomsketcher.com/features/" title="Features">Features</a></li>
            <li><a href="https://www.roomsketcher.com/pricing/" title="Pricing">Pricing</a></li>
            <li><a href="https://www.roomsketcher.com/subscriptions/" title="Subscriptions">Subscriptions</a></li>
            <li><a href="https://www.roomsketcher.com/order-floor-plans/" title="Order Floor Plans">Order Floor Plans</a></li>
            <li><a href="https://help.roomsketcher.com/" title="Help &amp; Videos" target="_blank">Help &amp; Videos</a></li>
        </ul>

    </div>

    <div class="f2 columns top20">
        <h3>Company</h3>
        <ul>
            <li><a href="https://www.roomsketcher.com/about/" title="Our Story">About</a></li>
            <li><a href="https://www.roomsketcher.com/testimonials/" title="Testimonials">Testimonials</a></li>
            <li><a href="https://www.roomsketcher.com/contact/" title="Contact">Contact</a></li>
            <li><a href="https://www.roomsketcher.com/blog/company-updates/" title="News">News</a></li>
            <li><a href="https://info.roomsketcher.com/newsletter" target="_blank" title="Newsletter">Newsletter</a></li>
            <li><a href="https://www.roomsketcher.com/blog/" title="Blog">Blog</a></li>
        </ul>
    </div>

</div><!-- End footer -->