<div id="footerblock">
    <div class="row clearfix bottom50 top50 mobile-hide"><!-- Start footer -->
        {#        <div class="f2 columns">#}
        {#            <h3>Floor Plans</h3>#}
        {#            <ul>#}
        {#                <li><a href="https://www.roomsketcher.com/floor-plans/floor-plan-software/" title="Floor Plan Software">Floor Plan Software</a></li>#}
        {#            </ul>#}
        {#        </div>#}

        {#        <div class="f2 columns">#}
        {#            <h3>Home</h3>#}
        {#            <ul>#}
        {#                <li><a href="https://www.roomsketcher.com/home-design/" title="Home Design">Home Design</a></li>#}
        {#            </ul>#}
        {#        </div>#}

        {#        <div class="f2 columns">#}
        {#            <h3>Office</h3>#}
        {#            <ul>#}
        {#                <li><a href="https://www.roomsketcher.com/office-design/" title="Office Design">Office Design</a></li>#}
        {#            </ul>#}
        {#        </div>#}

        {#        <div class="f2 columns">#}
        {#            <h3>Products</h3>#}
        {#            <ul>#}
        {#                <li><a href="https://www.roomsketcher.com/features/" title="Features">Features</a></li>#}
        {#            </ul>#}

        {#        </div>#}

        {#        <div class="f2 columns">#}
        {#            <h3>Company</h3>#}
        {#            <ul>#}
        {#                <li><a href="https://www.roomsketcher.com/about/" title="Our Story">About</a></li>#}
        {#            </ul>#}
        {#        </div>#}
    </div>
</div><!-- End footer -->