<!-- End of Set launcher text to white -->
<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=0.5, width=device-width, height=device-height, target-densitydpi=device-dpi">
<title>S&E</title>
<meta name="description" content="RoomSketcher Home Designer is an easy-to-use floor plan and home design app. Packed with features to create floor plans and 3D home designs. Get started – FREE">

<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta name="application-name" content="RoomSketcher - Visualizing Homes">

<meta name="msapplication-TileColor" content="#ffffff">

<link rel="stylesheet" href="/css/main.css" media="all">

<meta name="robots" content="index,follow">

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

<link rel="dns-prefetch" href="//s.w.org">

<link rel="https://api.w.org/" href="https://www.roomsketcher.com/wp-json/">
<link rel="canonical" href="https://www.roomsketcher.com/features/">
<link rel="alternate" type="application/json+oembed" href="https://www.roomsketcher.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.roomsketcher.com%2Ffeatures%2F">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<link rel="stylesheet" href="/libs/material-scrolltop/material-scrolltop.css" media="all">
<script src="/libs/material-scrolltop/material-scrolltop.js"></script>

<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<!-- or -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

<link rel="shortcut icon" type="image/png" href="/images/icons8-module-48.png"/>

<link rel="stylesheet" href="/libs/izmir/izmir.min.css">

<script src="/js/main.js"></script>