{% if activeCategories %}
<div class="three columns mobile-hide">

    <div id="sidebar"><!-- Start sidebar -->
        <div class="widget">
            <ul id="sidebar-menu">
                {% for activeCategory in activeCategories %}
                    <li class="animated
                        {% if activeCategory.id is even %}bounceInLeft{% endif %}
                        {% if activeCategory.id is odd %}bounceInRight{% endif %}
                        menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-2694">
                        <a href="http://blog/category/{{ activeCategory.slug }}" aria-current="page">
                            {{ activeCategory.title }}/{{ activeCategory.post_count }}
                        </a>
                    </li>
                {% endfor %}
{#                <li class="animated bounceInLeft menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-2694"><a href="https://www.roomsketcher.com/features/" aria-current="page">PHP</a></li>#}
{#                <li class="animated bounceInRight menu-item menu-item-type-post_type menu-item-object-page menu-item-7345"><a href="https://www.roomsketcher.com/features/roomsketcher-app/">CSS</a></li>#}
            </ul>
        </div>
    </div><!-- End sidebar -->
</div>
{% endif %}